<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">Déroulement de la journée</div>
    </div>
    <div class="main-content">

      <div class="row h-100 justify-content-around">
        <div class="col-12 col-md-6 mx-1 py-2 d-flex align-items-center justify-content-start">
          <mat-card>
            <mat-card-header>
              <mat-card-title>14H</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Mariage civil
              </p>
              Mairie de Strasbourg
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-md-6 mx-1 py-2 d-flex align-items-center justify-content-end">
          <mat-card>
            <mat-card-header>
              <mat-card-title>16H30</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Cérémonie religieuse
              </p>
              Eglise Saint Gilles de Saint Pierre Bois
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-md-6 mx-1 py-2 d-flex align-items-center justify-content-start">
          <mat-card>
            <mat-card-header>
              <mat-card-title>17H30 - 18H</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Coktail
              </p>
              Château de Thanvillé
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-md-6 mx-1 py-2 d-flex align-items-center justify-content-end">
          <mat-card>
            <mat-card-header>
              <mat-card-title>20H30</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Diner et festivités
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
</div>
