@import "node_modules/bootstrap/scss/bootstrap.scss";
.main-content {
    background: url("../../assets/images/bedroom.jpg") no-repeat center;
    background-size: cover;
    a {
      width: 50%;
      color: white;
      font-size: 18px;
      background-color: #0288D1;
      padding: 20px;
      text-decoration: none;
      transition: width .4s;
    }
}

.title {
  background-color: #EFEBE9;
}

@include media-breakpoint-up(md) {
  a:hover {
    width: 70% !important;
  }
}
