<div class="container-fluid">
  <div class="row">
    <div class="col-12 title">Hébergement</div>
  </div>
  <div class="main-content">
    <div class="row h-100 justify-content-around">
      <div class="col-10 col-md-6 mx-1 d-flex align-items-center justify-content-around">
        <a class="text-center" href="http://www.tourisme-valdeville.fr/fr/dormir/hotels" target="_blank">Hôtel</a>
      </div>
      <div class="col-10 col-md-6 mx-1 d-flex align-items-center justify-content-around">
        <a class="text-center" href="http://www.tourisme-valdeville.fr/fr/dormir/chambres-hotes" target="_blank">Chambre d'hôte</a>
      </div>
      <div class="col-10 col-md-6 mx-1 d-flex align-items-center justify-content-around">
        <a class="text-center" href="http://www.tourisme-valdeville.fr/fr/dormir/gites" target="_blank">Gîte</a>
      </div>
    </div>
  </div>
</div>
