@import "node_modules/bootstrap/scss/bootstrap.scss";
.main-content {
  mat-card {
    width: 100%;
    mat-card-title {
      font-size: 26px;
    }
    mat-card-actions {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 5px;
      }
    }
  }
  a {
    text-decoration: none;
  }
    background: url("../../assets/images/bedroom.jpg") no-repeat center;
    background-size: cover;
}
