<div class="container-fluid">
  <div class="row">
    <div class="col-12 title">Hébergement</div>
  </div>
  <div class="main-content">
    <div class="row h-100 justify-content-around">
      <div class="col-10 col-md-6 mx-1 py-5 d-flex align-items-center justify-content-around">
        <md-card>
          <md-card-header>
            <md-card-title>Hôtel</md-card-title>
          </md-card-header>
          <md-card-content>La ville de Thanvillé abrite 4 hôtels qui vous offriront un séjour confortable.</md-card-content>
          <md-card-actions>
            <button md-button><a href="http://www.tourisme-valdeville.fr/fr/dormir/hotels" target="_blank">Découvrir</a></button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="col-10 col-md-6 mx-1 py-5 d-flex align-items-center justify-content-around">
        <md-card>
          <md-card-header>
            <md-card-title>Chambre d'hôte</md-card-title>
          </md-card-header>
          <md-card-content>La ville de Thanvillé abrite 4 hôtels qui vous offriront un séjour confortable.</md-card-content>
          <md-card-actions>
            <button md-button><a href="http://www.tourisme-valdeville.fr/fr/dormir/chambres-hotes" target="_blank">Découvrir</a></button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="col-10 col-md-6 mx-1 py-5 d-flex align-items-center justify-content-around">
        <md-card>
          <md-card-header>
            <md-card-title>Gîte</md-card-title>
          </md-card-header>
          <md-card-content>La ville de Thanvillé abrite 4 hôtels qui vous offriront un séjour confortable.</md-card-content>
          <md-card-actions>
            <button md-button><a href="http://www.tourisme-valdeville.fr/fr/dormir/gites" target="_blank">Découvrir</a></button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>
