<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">Hébergement</div>
    </div>
    <div class="main-content">
        <div class="row justify-content-around">
            <div class="col-10 col-md-6">
              <a href="http://www.tourisme-valdeville.fr/fr/dormir/hotels">Hôtel</a>
            </div>
        </div>
      <div class="row justify-content-around">
        <div class="col-10 col-md-6">
          <a href="http://www.tourisme-valdeville.fr/fr/dormir/chambres-hotes">Chambre d'hôte</a>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-10 col-md-6">
          <a href="http://www.tourisme-valdeville.fr/fr/dormir/gites">Gîte</a>
        </div>
      </div>
    </div>
</div>
