@import "node_modules/bootstrap/scss/bootstrap.scss";
.main-content {
  md-card {
    md-card-title {
      font-size: 20px;
    }
    md-card-actions {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 5px;
      }
    }
  }
  a {
    text-decoration: none;
  }
    background: url("../../assets/images/bedroom.jpg") no-repeat center;
    background-size: cover;
}

.title {
  background-color: #EFEBE9;
}
