<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">Contact</div>
    </div>
    <div class="main-content">
      <div class="row justify-content-around">
        <div class="col-10 col-md-5 text-center p-5 m-3 contactInfo">
          <p>
            <span>La mariée</span>
          </p>
          <p>
            <a>Mail</a>
          </p>
          <p>
            06
          </p>
        </div>
        <div class="col-10 col-md-5 text-center p-5 m-3 contactInfo">
          <p>
            <span>Le marié</span>
          </p>
          <p>
            <a>Mail</a>
          </p>
          <p>
            06
          </p>
        </div>
        <div class="col-10 col-md-5 text-center p-3 m-3 contactInfo">
          <p>
            <span>Les témoins (Pauline)</span>
          </p>
          <div class="row">
            <div class="col-12 col-sm-6">
              <p>
                <a>Mail</a>
              </p>
              <p>
                06
              </p>
              <p>
                <a>Mail</a>
              </p>
              <p>
                06
              </p>
            </div>
            <div class="col-12 col-sm-6">
              <p>
                <a>Mail</a>
              </p>
              <p>
                06
              </p>
              <p>
                <a>Mail</a>
              </p>
              <p>
                06
              </p>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-5 text-center p-3 m-3 contactInfo">
          <p>
            <span>Les témoins (Sébastien)</span>
          </p>
          <div class="row">
            <div class="col-12 col-sm-6">
              <p>
                <a>Mail</a>
              </p>
              <p>
                06
              </p>
              <p>
                <a>Mail</a>
              </p>
              <p>
                06
              </p>
            </div>
            <div class="col-12 col-sm-6">
              <p>
                <a>Mail</a>
              </p>
              <p>
                06
              </p>
              <p>
                <a>Mail</a>
              </p>
              <p>
                06
              </p>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-5 text-center p-5 m-3 contactInfo">
          <p>
            <span>Contact technique</span>
          </p>
          <p>
            <a>Mail</a>
          </p>
          <p>
            06
          </p>
        </div>
      </div>
    </div>
</div>
