.main-content {
  background: url("../../assets/images/contact2.jpg") no-repeat center;
  background-size: cover;
  .contactInfo {
    background-color: rgba(0,0,0,0.2);
    color: white;
  }
}

.title {
  background-color: #BCAAA4;
}
