<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">Contact</div>
    </div>
    <div class="main-content p-4">
      <div class="row justify-content-around">
        <div *ngFor="let card of cards" class="col-12 col-md-8 col-lg-6 my-4">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{card.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let contact of card.contacts" class="row justify-content-around">
                <div class="col-12 col-sm-6 d-flex my-2">
                  <mat-icon class="my-auto">phone</mat-icon>
                  <!--<span class="my-auto" mat-line>{{contact.phone}}</span>-->
                  <a [href]="'tel:' + contact.phone" class="my-auto" mat-line>{{contact.phone}}</a>
                </div>
                <div class="col-12 col-sm-6 d-flex my-2">
                  <mat-icon class="my-auto">mail</mat-icon>
                  <a [href]="'mailto:' + contact.mail" class="my-auto" mat-line>{{contact.mail}}</a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
</div>
