.main-content {
  background: url("../../assets/images/contact2.jpg") no-repeat center;
  background-size: cover;
  mat-icon {
    margin-right: 10px;
  }
  span {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
}
