<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">Photos des mariés</div>
    </div>
    <div class="main-content" style="background-color: #212121">
          <div id="photoCarousel" class="carousel slide mx-auto" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/images/carousel/1.jpg" alt="Chargement ...">
              </div>
              <div *ngFor="let e of photos" class="carousel-item">
                <img class="d-block w-100" [src]="'../../assets/images/carousel/' + e + '.jpg'" alt="Chargement ...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#photoCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#photoCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</div>
