@import "node_modules/bootstrap/scss/bootstrap.scss";
.main-content {
  md-card {
    margin-top: 30px;
    md-card-header {
      justify-content: center;
      md-card-title {
        font-size: 20px;
      }
    }
    md-card-content {
      margin: 20px;
      section {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    md-card-actions {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 10px;
      }
    }
  }
}
