<div class="container-fluid">
  <div class="row">
    <div class="col-12 title">Confirmation</div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-12 offset-md-3 col-md-6">
        <md-input-container class="full-width" style="margin-top: 10px">
          <input mdInput placeholder="Nom et prénom" [(ngModel)]="searchUser" [mdAutocomplete]="auto">
        </md-input-container>
        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let user of users | async |search:searchUser" (onSelectionChange)="selectUser(user)">
            {{user.lastName}} {{user.firstName}}
          </md-option>
        </md-autocomplete>
        <md-card *ngIf="updateUser != null">
          <md-card-header>
            <md-card-title>{{updateUser.lastName}} {{updateUser.firstName}}</md-card-title>
          </md-card-header>
          <md-card-content>
            <section>
              <md-checkbox [(ngModel)]="updateUser.coming">Je viens au mariage</md-checkbox>
            </section>
            <section *ngIf="updateUser.coming && updateUser.apero.invited">
              <md-checkbox [(ngModel)]="updateUser.apero.coming">Apéritif</md-checkbox>
            </section>
            <section *ngIf="updateUser.coming && updateUser.meal.invited">
              <md-checkbox [(ngModel)]="updateUser.meal.coming">Repas</md-checkbox>
            </section>
            <section *ngIf="updateUser.coming && updateUser.brunch.invited">
              <md-checkbox [(ngModel)]="updateUser.brunch.coming">Brunch</md-checkbox>
            </section>
            <section  *ngIf="updateUser.coming" style="justify-content: flex-end; display: flex">
              <md-select placeholder="Enfants" [(ngModel)]="updateUser.children">
                <md-option [value]="0">0</md-option>
                <md-option [value]="1">1</md-option>
                <md-option [value]="2">2</md-option>
                <md-option [value]="3">3</md-option>
                <md-option [value]="4">4</md-option>
              </md-select>
            </section>
          </md-card-content>
          <md-card-actions>
            <button md-button (click)="updateInfo()">Confirmer</button>
          </md-card-actions>
        </md-card>
      </div>
      </div>
    </div>
  </div>
