@import "node_modules/bootstrap/scss/bootstrap.scss";
.main-content {
  background: url("../../assets/images/confirmation.jpg") no-repeat top;
  background-size: cover;
  mat-card {
    margin-top: 30px;
    background-color: rgba(255,255,255,0.8);
    mat-card-header {
      justify-content: center;
      mat-card-title {
        font-size: 28px;
      }
    }
    mat-card-content {
      margin: 20px;
      section {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    mat-card-actions {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 10px;
        font-family: 'Tangerine', serif;
        font-size: 28px;
        text-shadow: 1px 1px 10px black;
      }
    }
    .mat-checkbox {
      font-family: 'Tangerine', serif;
      font-size: 26px;
    }
  }
  .mat-input-element {
    font-family: 'Tangerine', serif;
    font-size: 26px;
  }
}

.mat-option {
  font-family: 'Tangerine', serif;
  font-size: 26px;
  height: inherit !important;
  line-height: inherit !important;
}
.mat-select {
  font-family: 'Tangerine', serif;
}
