<div class="container-fluid">
  <div class="row">
    <div class="col-12 title">Liste de mariage</div>
  </div>
  <div class="main-content">
    <div class="row h-100">
      <div class="col-12 col-md-6 offset-md-3 my-auto justify-content-around d-flex">
        <a class="text-center">Vous serez les complices de notre escapade à Tahiti
          <br> Une urne sera à votre disposition au château
          <br> Merci
          <br>
          <br> Adresse postale
          <br>14 quai Koch, 67000 Strasbourg
        </a>
      </div>
    </div>

  </div>
</div>