@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@font-face {
  font-family: "Wedding Font";
  src: url('/assets/font/wedding_font.ttf');
}

//$custom-typography: mat-typography-config(
//  $font-family: 'Wedding Font',
//  $headline: mat-typography-level(32px, 48px, 700),
//  $body-1: mat-typography-level(20px, 30px, 900)
//);
//
//@include angular-material-typography($custom-typography);
//@include mat-base-typography($custom-typography);

//html {
//  font-family: "Wedding Font" !important;
//}

.main-content {
  font-family: 'Tangerine', serif !important;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  z-index: 3000;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  font-family: 'Tangerine', serif;
  //text-shadow: 2px 2px 2px #aaa;
}

@include media-breakpoint-up(md) {
  .title {
    font-size: 40px;
  }
}

.full-width {
  width: 100%;
}

.mat-card {
  font-family: 'Tangerine', serif;
  .mat-card-content {
    font-size: 24px;
    text-shadow: 2px 2px 2px #aaa;
  }
  .mat-card-title {
    font-size: 22px;
    margin-bottom: 8px;
  }
}

.mat-form-field {
  font-family: 'Tangerine', serif;
  font-size: 24px;
  text-shadow: 2px 2px 2px #aaa;
}
